.cover__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-image: url(../../../images/__background.png);
  background-position: center;
  background-size: cover;
  text-decoration: none;
  color: white;
  min-height: 740px;
  max-width: 1184px;
  position: relative;
}

.cover__link::before{
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(42, 44, 47, 0.3);
  transition: 0.2s linear;
  position: absolute;
}

.cover__link:hover::before{
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width:1024px) {
  .cover__link{
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover__link{
    min-height: 480px;
  }
}

@media screen and (max-width:425px) {
  .cover__link{
    min-height: 200px;
  }
}
