.website{
  display: grid;
  grid-area:places__website;
  align-self: end;
  color:#FFFFFF;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .website{
    margin: 0;
    grid-area:places__website;
    color:#FFFFFF;
    text-decoration: none;
  }

}

@media screen and (max-width:767px) {
  .website{
    max-width:288px;
    margin:0 5%;
  }
}
