.places__title{
  grid-area:places__title;
  font-size: calc(32px + 40*(100vw - 320px)/960);
  font-weight: 900;
  margin: 0;
  line-height: 1.06;
}

@media screen and (max-width:768px) {
  .places__title{
    grid-area:places__title;
    margin: 0;
    align-self: end;
  }
}

@media screen and (max-width:767px) {
  .places__title{
    max-width:288px;
    margin:0 5%;
  }
}
