/* .content{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns:1fr minmax(320px, 1280px) 1fr;
  grid-template-rows:repeat(6, auto);
  grid-template-areas:
  '. lead .'
  '. intro .'
  '. photo-grid .'
  '. places .'
  '. cover .'
  '. footer .';
} */


/* .content{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.content{
  display: block;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin:0 auto 0;
  max-width: 1184px;
}

