.footer__link{
  color:#FFFFFF;
  text-decoration: none;
  margin-right:18px;
  float: left;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover{
  opacity:0.8;
}

@media screen and (max-width:425px) {
  .footer__link{
    line-height: 1;
    font-size: 24px;
  }
}
