.place__paragraph{
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-area:places__paragraph;
  margin:0;
}

@media screen and (max-width:425px) {
  .place__paragraph{
    max-width:288px;
    margin: 0 16px;
  }
}
