.intro{
  display: grid;
  grid-template-columns: minmax(288px, 690px) minmax(0, 294px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  'intro__title .'
  'intro__text .'
  'intro__list .';
  max-width: 984px;
  margin: 92px auto;
}

.intro__title{
  grid-area: intro__title;
  font-family: Inter;
  font-size: calc(32px + 22*(100vw - 320px)/960);
  font-weight: 900;
  margin: 0 0 40px;
}

.intro__text{
  grid-area: intro__text;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 33px;
}

.intro__list{
  grid-area: intro__list;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  justify-self: start;
}

@media screen and (max-width:1023px) {
  .intro{
  grid-template-columns: minmax(288px, 720px);
  justify-items: center;
  margin: 88px auto;
  }
}

@media screen and (max-width:767px) {
  .intro{
  margin:64px 5%;
  }
}
