.intro{
  display: grid;
  grid-template-columns: minmax(288px, 690px) minmax(0, 294px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  'intro__title .'
  'intro__text .'
  'intro__list .';
  max-width: 984px;
  margin: 92px auto;
}

@media screen and (max-width:1024px) {
  .intro{
  grid-template-columns: minmax(288px, 690px);
  margin: 88px auto;
  }
}

@media screen and (max-width:768px) {
  .intro{
    display: block;
    max-width: 720px;
    margin: 88px auto;
    }
}

@media screen and (max-width:425px) {
  .intro{
    margin: 64px 5%;
    }
}
