.cover{
  background-image: url(../../images/__background.png);
  background-position: center;
  background-size: cover;
  min-height: 740px;
  max-width: 1148px;
  margin: 0 auto 92px;
}

@media screen and (max-width:1024px) {
  .cover{
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover{
    min-height: 480px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width:425px) {
  .cover{
    margin: 0 auto 65px;
    min-height: 200px;
  }
}


